{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
{% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here"/>
{% endblock %}
{% block extrameta%}
{% endblock %}
{% block corecss %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.2/journal/bootstrap.min.css">
{% endblock %}
{% block extracss%}
{% endblock %}
{% block corejs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
{% block extrajs %}
{% endblock %}

<title>Butik{% block extratitle %}{% endblock %}</title>


</head>
<body>
    <header class="container-fluid fixed-top"></header>
    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

</body>
</html>